a{
    text-decoration: none;
    color:black;
}
div{
    padding: 0.3rem;
}
.flex{
    display: flex;
    justify-content:flex-start;   
    align-items: center;
}
.flex_around{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.flex_col{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.flex_col_2{
    display:flex;
    flex-direction: column;
    align-items: left;
}
.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.margin{
    margin:auto;
}
.margin_right{
    margin-right:1rem;
}
.margin_left{
    margin-left: 0rem;
}
.margin_tb{
    margin:7rem 0rem;
}
.margin_tb_1{
    margin:1rem 0;
}
.margin_tb_3{
    margin:3rem 0;
}
.margin_side_05{
    margin:0 0.5rem;
}
.margin_side_1{
    margin:0 1rem;
}
.margin_top_5{
    margin-top:5rem;
}
.margin_bottom{
    margin-bottom: 0.4rem;
}
.margin_bottom_1{
    margin-bottom: 1.7rem;
}
.margin_bottom_2{
    margin-bottom:4rem;
}

.padding{
    padding:0.5rem;
}
.padding_1{
    padding:1rem;
}
.padding_2{
    padding:2rem;
}
.padding_3{
    padding:3rem;
}
.padding_side{
    padding:0.2rem 0.4rem;
}
.ad_1{
    width:90%;
    height:5rem;
}
.post_header{
    border-bottom: 1px solid #bbbbbb;
}
.post_top{
    border-top: 1px solid #333333;
    border-top-width: medium;
}
.post_item{
    border-top:0.5px solid #999999;
    border-bottom:0.5px solid #999999;
}
.post_item:hover{
    background-color: #E5E5FF;
}
.board{
    margin:1rem;
    width: 95%;
}
.space_1{
    width: 98%;
    height: 10rem;
    border:1px solid aqua;
}
.space_2{
    background-color: #bbbbbb;
}
.space_3{
    background-color: #0099ff;
}
.space_4{
    background-color:#333333;
}
.space_5{
    width: 66%;
    border:1px solid #0099ff;
}
.space_6{
    border:1px solid #0099ff;
}
.space_7{
    background-color: #E5E5FF;
}
.font_white{
    color:#ffffff;
}
.font_gray{
    color: #666666;
}
.font_skyblue{
    color: #4ba1db;
}
.font_orange{
    color: orangered;
}
.font_green{
    color:#00aa00;
}
.f_size_1{
    font-size: small;
}
.f_size_2{
    font-weight: bold;
}
.f_size_a{
    font-weight: bold;
}
.f_size_b{
    font-weight: bold;
    font-size:small;
}
.f_size_c{
    font-weight: bold;
    font-size:large;
}
.size_5{
    width:15rem;
}
.size_10{
    width:20rem;
}
.size_20{
    width:20%;
}
.size_55{
    width:55%;
}
.size_90{
    width: 90%;
}
.size_100{
    width:100%;
}
.h_size_57{
    height:57vh;
}
.h_size_50{
    height:60vh;
}
.h_size_65{
    height:65vh;
}
.h_size_75{
    height:75vh;
}
.h_size_80{
    height:79vh;
}
.max_size_15{
    max-width:15rem;
}
.min_size_6{
    min-width: 6rem;
}
.min_height{
    min-height: 80vh;
}
.line-bottom-dot{
    border-bottom: 1px dotted #999999;
}
.line-bottom{
    border-bottom: 1px solid #999999;
}
.line_top{
    border-top:1px solid #999999;
}
.line_mypage{
    position: relative;
    top:6px;
    border: 1px solid #999999;
    background: #f9f9f9;
}
.line_selected{
    border-bottom:1px solid #ffffff;
    background: #ffffff;
}
.line{
    border:1px solid #999999;
}
.none{
    display:none;
}
.pointer{
    cursor: pointer;
}
.comment{
    border-bottom: 1px solid #cccccc;
}
.comment_dlt{
    border-top:1px dotted #cccccc;
    border-bottom:1px dotted #cccccc;
    margin: -5px 0;
}
.comment_new{
    border:1px solid #cccccc;
    background-color:rgba(180, 180, 180,0.1);
    margin:1rem 0;
    padding:1rem;
}
.comment_form{
    text-align: right;
}
.comment_box{
    border:1px solid #cccccc;
    width: 99%;
    height: 5rem;
}