.side_menu{
    padding:0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.side_menu_Screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000000;
    opacity: 0.3;
    display:none;
}
.side_menu_List{
    width: 66%;
    height: 98vh;
    background-color:#222233;
    padding:0;
    display:none;
}
.sm_list_box{
}
.sm_list{
    margin-bottom:1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:2rem;
    color:#ffffff;
    background-color:#555555;
}
.sm_btn_box{
    padding:1rem;
    display: flex;
    justify-content: center;
}
.animate-left{
    position:relative;
    animation:animateleft 0.2s;
    animation-fill-mode: forwards;
}
@keyframes animateleft{
    from{left:0px;opacity:1;} 
    to{left:-300px;opacity:0;}
}
.animate-right{
    position:relative;
    animation:animateright 0.2s;
    animation-fill-mode: forwards;
}
@keyframes animateright{
    from{left:-300px;opacity:0;} 
    to{left:0px;opacity:1;}
}
.btn_click{
    position: fixed;
    top:0;
    right:0;
    z-index: 4;
}